.container-md .col-xl-8 {
  max-width: 100%;
  flex: 0 0 100%;
}
.container-md .offset-xl-2 {
  margin-left: 0;
}
.container-md .col-lg-10 {
  max-width: 100%;
  flex: 0 0 100%;
}
.container-md .offset-lg-1 {
  margin-left: 0;
}
